body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #eccbc5;
}

p{
  font-size:larger;
  color: red;
 text-align: center ;
}

    /* **********SLIDER************ */
html {
    font-family: 'Poppins', sans-serif;
    color:white;
    /* text-transform: uppercase; */
    font-weight: bold;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin:0px;
  }
  
  .container {
    width:1024px;
    max-width:100%;
    margin:0 auto;
  }
  
  .slider {
    position:relative;
    height:0px;
    padding-bottom:60%;
    margin-top:24px;
    margin-bottom:24px;
  }
  
  .slider__after {
    position:absolute;
    top:0px;
    left:0px;
    z-index:1;
    width:100%;
    height:100%;
    background-image:url('../../assets/images/La bavure/DSC4775.JPG');
    background-size:cover;
    pointer-events: none;
  }
  
  .slider__before {
    position:absolute;
    top:0px;
    left:0px;
    z-index:2;
    width:50%;
    height:100%;
    background-image:url('../../assets/images/La bavure/Bav-12.jpg');
    background-size:cover;
    pointer-events: none;
    overflow:hidden;
  }
  
  .slider__before:before {
    content:'1980';
    position:absolute;
    left:8px;
    top:8px;
  }
  
  .slider__after:before {
    content:'2022';
    position:absolute;
    right:8px;
    top:8px;
  }
  
  .slider__separator {
    position:absolute;
    left:50%;
    width:2px;
    top:0px;
    bottom:0px;
    background:rgba(255,255,255,0.7);
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.5);
    cursor:ew-resize;
    z-index:3;
    transform:translateX(-50%);
  }
  
  .slider__range {
    position:absolute;
    width:100%;
    bottom:0px;
    z-index: 3;
    appearance: none;
    background:rgba(255,255,255,0.3);
    outline:none;
    margin:0px;
  }
  
  .slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:12px;
    height:16px;
    background:white;
  }
  
  .slider__range::-moz-slider-thumb {
    -moz-appearance: none;
    width:12px;
    height:16px;
    background:white;
  }
  
  .slider--tokyo .slider__before {
    background-image: url('../../assets/images/La bavure/Bav-12.jpg');
  }
  
  .slider--tokyo .slider__after {
    background-image: url('../../assets/images/La bavure/DSC4775.JPG');
  }
  
  .slider--tokyo .slider__separator:before {
    content:'';
    width:32px;
    height:32px;
    border-radius:50%;
    border:solid 2px white;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
  }
  
  .slider--tokyo .slider__range {
    display:none;
  }
  
  .slider--tokyo .slider__before:before, 
  .slider--tokyo .slider__after:before {
    top:50%;
    transform:translateY(-50%);
    background:rgba(255,0,0,0.5);
    padding:8px 16px;
    border-radius:8px;
    margin-left:8px;
    margin-right:8px;
  }

  #pageprecedente{
    display: inline;
     width: 20%;
     border: 4px solid rgb(211, 166, 166);
     border-radius: 15px;
     padding: 5px;
     margin-left: 15px;
     font-weight: 200;
     }
  
    #pageprecedente a{
      text-decoration: none;
    }
  
  #pageprecedente a:hover{
     color: brown;
     cursor: pointer;
  }

  
