body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #eccbc5;
    font-size: 20px;
  }

 
  .couleur{
    color: red;
      }

  span{
    font-weight: bold;
  }

/* ******Menu***** */


nav > ul{
    margin: 0px;
    padding: 0px;
  }
  
  nav{
    width: 100%;
    background-color: #424558;
  }
  
  nav li{
    list-style-type: none;
  }
  
  nav > ul > li{
    float: left;
    position: relative;
  }
  
  nav > ul::after{
    content: "";
    display: table;
    clear: both;
  }
  .submenu{
    display: none;
  }
  
  nav input[type=checkbox]{
    display: none;
  }
  
  nav label{
    display: none;
  }
  
  nav a{
    display: inline-block;
    text-decoration: none;
  }
  
  nav >ul > li > a{
    padding: 20px 30px;
    color: #FFF;
  }
  nav > ul > li:hover a{
    padding: 15px 30px 20px 30px;
  }
  
  nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
  }
  
  .submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;
  }
  .submenu li{
    border-bottom: 1px solid #ccc;
  }
  
  .menu-html:hover{
    border-top: 5px solid #e44d26;
    background-color: rgba(228, 77, 338, 0.15);
  }
  .menu-css:hover{
    border-top: 5px solid #0070bb;
    background-color: rgba(000, 112, 192, 0.15);
  }
  .menu-JS:hover{
    border-top: 5px solid#f1dc4f;
    background-color: rgba(241, 211, 79, 0.15);
  }
  .menu-contact:hover{
    border-top: 5px solid #BBB;
    background-color: rgba(220, 220, 220, 0.15);
  }
  
  /* *************COULEURS*********** */
  .menu-html .submenu{
    background-color: rgb(230, 100, 40) ;
  }
  .menu-css .submenu{
    background-color: rgb(000, 160, 240);
  }
  .menu-JS .submenu{
    background-color: rgb(250, 215, 100);
  }
  .submenu li:hover a{
    color: #EEE;
    font-weight: bold;
  }
  .menu-html .submenu li:hover{
    background-color: rgb(210, 77, 60);
  }
  .menu-css .submenu li:hover{
    background-color: rgb(000, 115, 200);
  }
  .menu-JS .submenu li:hover{
    background-color: rgb(200, 165, 75);
  }
  
  /* ***************RESPONSIVE************ */
  nav input[type=checkbox]:checked ~ ul{
    display:block;
  }
  @media screen and (max-width: 870px){
    .menu-mobile{
        display: block;
        color: #FFF;
        background-color: #4f515e;
        text-align: center;
        padding: 12px 0px;
    }
    nav ul{
        display: none;
    }
    nav ul li, nav ul li a{
        width: 100%;
        text-align: center;
    }
    nav ul li a, nav ul li:hover a{
        padding: 10px 0px;
    }
    nav li:hover .submenu{
        display: block;
        position: static
    }
  }

        /* **************************************************** */
     
     
        #pageprecedente{
        display: inline;
         width: 10%;
         border: 4px solid rgb(211, 166, 166);
         border-radius: 15px;
         padding: 5px;
         margin-left: 10px;
         font-weight: 200;
         }
      
        #pageprecedente a{
          text-decoration: none;
        }
      
      #pageprecedente a:hover{
         color: brown;
         cursor: pointer;
      }
    
         
      img{
        width: 45%;
        border: 4px solid rgb(211, 166, 166);
        border-radius: 15px;
      }

      .image1 img{
        display: flex;
        margin: auto;
      }
      .image1 p{
      text-align: center;
      }

      /* ***********************VIDEO******************************************** */
      #video{
      display: flex;
      flex-wrap: wrap; 
      justify-content: center; 
       }

      .textevideo h2{
        text-align: center;
      }

      .textevideo p{
        text-align: justify;
        padding: 25px;
      }

     

    
     
  

  
  /* <!-- ******footer****** --> */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);


.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
  text-align: center;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
  text-align: center;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}


/* Media Queries */

@media (max-width: 840px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }

 

 